@import "mixins";

.remark-preview-area .remark-slide-container {
  visibility: visible;
  .remark-slide-content > * {
    opacity: 1;
  }
}
.remark-slide-container {
  display: block;
  visibility: hidden;
  .remark-slide-content {
    background-color: transparent;
    > * {
      opacity: 0;
    }
  }

  &.remark-visible {
    visibility: visible;
    .remark-slide-content {
      > * {
        transition: none;
        opacity: 1;
      }
      transition: none;
    }
  }
}

.remark-slide-container.remark-visible .remark-slide-content.do_transition {
  transition: background-color 300ms ease-in 300ms;
  > * {
    transition: opacity 300ms ease-out 700ms;
  }
}

/* Colors */
.remark-slide-container .remark-slide-content {
  &.angelephant {
    $color: white;
    @include chapter($color, .54) {
      background: url(awkward-stock/angelephant.jpg) 60% 20% no-repeat;
      background-size: 130%;
    }
  }
  &.grandpa {
    $color: white;
    @include chapter($color, .54) {
      background: url(awkward-stock/boxing-granpa.jpg) 60% 20% no-repeat;
      background-size: 130%;
    }
  }
  &.kiss {
    $color: hsl(45,60%,74%);
    @include chapter($color, 0.74) {
      background: url(awkward-stock/kiss-lick.jpg) 20% 20% no-repeat;
      background-size: 150%;
    }
  }
  &.factory {
    $color: hsl(45,60%,74%);
    @include chapter($color, 0.54) {
      background: url(awkward-stock/pencils.jpg) 100% 100% no-repeat;
      background-size: 42%;
    }
  }
  &.bad-date {
    $color: hsl(45,60%,74%);
    @include chapter($color, 0.54) {
      background: url(awkward-stock/bad-date.jpg) 100% 0% no-repeat;
      background-size: 120%;
    }
  }

  &.happy-belly {
      @include chapter(white, .3) {
        background: url(awkward-stock/happy-belly.jpg) 100% 100% no-repeat white;
        background-size: 40%;
    }
  }

  &.axe {
    $color: hsl(9,67%,64%);
    @include chapter($color, .64) {
      background: url(awkward-stock/axe.jpg) 100% 70% no-repeat;
      background-size: 120%;
    }
  }

  &.cream {
    $color: hsl(9,67%,64%);
    @include chapter($color, .64) {
      background: url(awkward-stock/pencils.jpg) 100% 100% no-repeat;
      background-size: 42%;
    }
  }

  &.doc {
    $color: hsl(164, 50%, 64%);
    @include chapter($color, .78) {
      background: url(awkward-stock/doc.jpg) -260px -30px;
      background-size: 120%;
    }
  }

  &.bear {
    $color: hsl(180, 1%, 63%);
    @include chapter($color, 0) {
      background: url(awkward-stock/bear.jpg) 0% 20% no-repeat;
      background-size: 100%;
    }
    h1 {
      background: rgba(255, 255, 255, .7);
    }
  }

  &.tool {
    $color: hsl(180, 1%, 63%);
    @include chapter($color, .7) {
      background: url(awkward-stock/tool.jpg) 0% 40% no-repeat;
      background-size: 120%;
    }
  }

  &.park {
    $color: rgb(41, 176, 217);
    @include chapter($color, .64) {
      background: url(awkward-stock/puppys-hilton.jpg) 0% 80% no-repeat;
      background-size: 140%;
      opacity: 1;
    }
  }

  &.fernsehturm {
    @include chapter(hsl(45,60%,74%)) {
      background: url(fernsehturm.jpg) -120px 0px;
      background-size: 130%;
    }
  }
  &.sunflower {
    @include chapter(hsl(45,60%,74%), .64) {
      background: url(awkward-stock/sunflower.jpg) 220% 80%;
      background-size: 110%;
    }
  }
  &.happy {
    @include chapter(hsl(45,60%,74%)) {
      background: url(awkward-stock/happy.jpeg) -120px 0px;
      background-size: 110%;
    }
  }
}

/* END Colours */

body {
  font-family: 'Source Sans Pro';
  transition-delay: 0 !important;
}

.remark-fading {
  display: none;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  font-weight: normal;
}

.remark-slide-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  margin: 40px 0;
}

.remark-slide-content h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.remark-slide-content h3 {
  font-size: 30px;
  font-family: 'Libre Baskerville', serif;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: initial;
  display: inline-block;
  padding: 20px;
  margin-top: 5px;
}

.remark-slide-content h4 {
  font-size: 40px;
  font-weight: normal;
  margin: 30px 0;
}

.remark-slide-content h5 {
  font-size: 50px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: normal;
  padding: 10px 0 2px;
  margin: 0;
  position: relative;
}

img {
  background: white;
  padding: 0.4em;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
}

.remark-notes {
  strong {
    background-color: lightblue;
  }

  li > p {
    margin: 0;
  }
}

.remark-preview-area {
  transform: perspective(10px) translateZ(-4px);
}
.remark-notes-preview-area {
  display: none;
}
.remark-notes-area .remark-bottom-area .remark-notes-current-area {
  height: 100%;
}

.remark-code, img {
  box-shadow: 0px 0px 2px 0px #CCC, 2px 2px 2px 0px #666, 3px 3px 2px 0px rgba(0,0,0,.3);
  border-radius: 4px;
}

.hljs-default .hljs, img {
  padding: 1em;
}

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.remark-code {
  text-align: left;
  font-size: 22px;
}

.middle {
  /* Applied to all slides, i.e. the default */
  text-align: center;
}


/* Slide specific */

.considerations {
  padding-left: 90px;
  text-align: left;
}

.bootstrapping {
  padding-left: 260px;
}

.logo img {
  box-shadow: none;
  width: 250px;
  background: transparent;
}

.top_title > h2:first-child {
  position: absolute;
  top: 1rem;;
  left: 0;
  right: 0;
}

.bigger3 {
  .remark-code {
    font-size: 25px;
    padding: 0.8em .5em;
  }
}
.bigger0 {
  .remark-code {
    font-size: 33px;
    padding: 0.8em .5em;
  }
}
.bigger1 {
  .remark-code {
    font-size: 37px;
    padding: 0.8em .5em;
  }
}
.bigger2 {
  .remark-code {
    font-size: 43px;
    padding: 0.8em .5em;
  }
}

.next_hidden + * {
  visibility: hidden;
}

.ember-logo {
  background: transparent;
  box-shadow: none;
  padding: 0;
}
h1 .ember-logo {
  width: 30%;
}

.remark-slide-content li {
  font-size: 2rem;
  list-style-type: none;
  padding: .3em 0;
}

.remark-slide-content strong {
  font-weight: bold;
}
