.remark-slide-container {
  display: block;
  visibility: hidden; }
  .remark-slide-container .remark-slide-content {
    background-color: transparent; }
    .remark-slide-container .remark-slide-content > * {
      opacity: 0; }
  .remark-slide-container.remark-visible {
    visibility: visible; }
    .remark-slide-container.remark-visible .remark-slide-content {
      transition: none; }
      .remark-slide-container.remark-visible .remark-slide-content > * {
        transition: none;
        opacity: 1; }

.remark-slide-container.remark-visible .remark-slide-content.do_transition {
  transition: background-color 300ms ease-in 300ms; }
  .remark-slide-container.remark-visible .remark-slide-content.do_transition > * {
    transition: opacity 300ms ease-out 700ms; }

/* Colors */
.remark-slide-container.remark-visible .remark-slide-content.grandpa {
  background-color: rgba(255, 255, 255, 0.84);
  color: #242424; }
  .remark-slide-container.remark-visible .remark-slide-content.grandpa:after {
    background: url(awkward-stock/boxing-granpa.jpg) 100% 20% no-repeat;
    background-size: 70%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.kiss {
  background-color: rgba(228, 209, 149, 0.74);
  color: #392e0e; }
  .remark-slide-container.remark-visible .remark-slide-content.kiss:after {
    background: url(awkward-stock/kiss-lick.jpg) 20% 20% no-repeat;
    background-size: 150%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.factory {
  background-color: rgba(228, 209, 149, 0.54);
  color: #392e0e; }
  .remark-slide-container.remark-visible .remark-slide-content.factory:after {
    background: url(awkward-stock/pencils.jpg) 100% 100% no-repeat;
    background-size: 42%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.dinos {
  background-color: rgba(225, 120, 102, 0.84);
  color: #3c130c; }
  .remark-slide-container.remark-visible .remark-slide-content.dinos:after {
    background: url(dinos.jpg) -120px 0px;
    background-size: 130%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.cream {
  background-color: rgba(225, 120, 102, 0.64);
  color: #3c130c; }
  .remark-slide-container.remark-visible .remark-slide-content.cream:after {
    background: url(awkward-stock/cream.jpg) 50% 0px no-repeat;
    background-size: 60%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.doc {
  background-color: rgba(117, 209, 185, 0.78);
  color: #12362c; }
  .remark-slide-container.remark-visible .remark-slide-content.doc:after {
    background: url(awkward-stock/doc.jpg) -260px -30px;
    background-size: 120%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.bear {
  background-color: rgba(160, 162, 162, 0);
  color: #232424; }
  .remark-slide-container.remark-visible .remark-slide-content.bear:after {
    background: url(awkward-stock/bear.jpg) 0% 20% no-repeat;
    background-size: 100%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .remark-slide-container.remark-visible .remark-slide-content.bear h1 {
    background: rgba(255, 255, 255, 0.7); }
.remark-slide-container.remark-visible .remark-slide-content.tool {
  background-color: rgba(160, 162, 162, 0.7);
  color: #232424; }
  .remark-slide-container.remark-visible .remark-slide-content.tool:after {
    background: url(awkward-stock/tool.jpg) 0% 40% no-repeat;
    background-size: 120%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.park {
  background-color: rgba(41, 176, 217, 0.64);
  color: #0b313d; }
  .remark-slide-container.remark-visible .remark-slide-content.park:after {
    background: url(awkward-stock/puppys-hilton.jpg) 0% 80% no-repeat;
    background-size: 140%;
    opacity: 1;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.fernsehturm {
  background-color: rgba(228, 209, 149, 0.84);
  color: #392e0e; }
  .remark-slide-container.remark-visible .remark-slide-content.fernsehturm:after {
    background: url(fernsehturm.jpg) -120px 0px;
    background-size: 130%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
.remark-slide-container.remark-visible .remark-slide-content.happy {
  background-color: rgba(228, 209, 149, 0.84);
  color: #392e0e; }
  .remark-slide-container.remark-visible .remark-slide-content.happy:after {
    background: url(awkward-stock/happy.jpeg) -120px 0px;
    background-size: 110%;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

/* END Colours */
body {
  font-family: 'Source Sans Pro';
  transition-delay: 0 !important; }

.remark-fading {
  display: none; }

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  font-weight: normal; }

.remark-slide-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  margin: 40px 0; }

.remark-slide-content h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px; }

.remark-slide-content h3 {
  font-size: 30px;
  font-family: 'Libre Baskerville', serif;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: initial;
  display: inline-block;
  padding: 20px;
  margin-top: 5px; }

.remark-slide-content h4 {
  font-size: 40px;
  font-weight: normal;
  margin: 30px 0; }

.remark-slide-content h5 {
  font-size: 50px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: normal;
  padding: 10px 0 2px;
  margin: 0;
  position: relative; }

img {
  background: white;
  padding: 0.4em;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box; }

.remark-notes strong {
  background-color: lightblue; }
.remark-notes li > p {
  margin: 0; }

.remark-preview-area {
  transform: perspective(10px) translateZ(-4px); }

.remark-notes-preview-area {
  display: none; }

.remark-notes-area .remark-bottom-area .remark-notes-current-area {
  height: 100%; }

.remark-code, img {
  box-shadow: 0px 0px 2px 0px #CCC, 2px 2px 2px 0px #666, 3px 3px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

.hljs-default .hljs, img {
  padding: 1em; }

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono'; }

.remark-code {
  text-align: left;
  font-size: 22px; }

.middle {
  /* Applied to all slides, i.e. the default */
  text-align: center; }

/* Slide specific */
.considerations {
  padding-left: 90px;
  text-align: left; }

.bootstrapping {
  padding-left: 260px; }

.logo img {
  box-shadow: none;
  width: 250px;
  background: transparent; }

.top_title > h2:first-child {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0; }

.bigger3 .remark-code {
  font-size: 25px;
  padding: 0.8em .5em; }

.bigger0 .remark-code {
  font-size: 33px;
  padding: 0.8em .5em; }

.bigger1 .remark-code {
  font-size: 37px;
  padding: 0.8em .5em; }

.bigger2 .remark-code {
  font-size: 43px;
  padding: 0.8em .5em; }

.next_hidden + * {
  visibility: hidden; }

/*# sourceMappingURL=style.css.map */
