@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Source Sans Pro';
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  font-weight: normal;
}

.remark-slide-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  margin: 40px 0;
}

.remark-slide-content h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.remark-slide-content h3 {
  font-size: 30px;
  font-family: 'Libre Baskerville', serif;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: inherit;
  display: inline-block;
  padding: 20px;
  margin-top: 5px;
}

.remark-slide-content h4 {
  font-size: 40px;
  font-weight: normal;
  margin: 30px 0;
}

.remark-slide-content h5 {
  font-size: 50px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: normal;
  padding: 10px 0 2px;
  margin: 0;
  position: relative;
}

ul, ol {
  font-size: 38px;
  font-weight: normal;
  margin: 30px 0;
}

li {
  list-style-type: none;
  padding: 15px 0;
  position: relative;
  text-align: left;
}

li:before {
  content: '→';
  position: absolute;
  left: -40px;
}

.green {
  color: lightgreen;
}

.red {
  color: red;
}

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.remark-code {
  text-align: left;
  font-size: 22px;
}

.middle {
  /* Applied to all slides, i.e. the default */
  text-align: center;
}

.light {
  color: #333;
  border-color: #ececec;
}

.dark {
  background-color: #333;
  color: #fff;
  border-color: #b5b5b5;
}

.blue {
  background-color: #518ff5;
  color: #fff;
  border-color: #97baf4;
}


/* Slide specific */

.considerations {
  padding-left: 90px;
  text-align: left;
}

.bootstrapping {
  padding-left: 260px;
}
