@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff */
        url(Montserrat_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYMDdSZkkecOE1hvV7ZHvhyU.ttf */
        url(Montserrat_400_normal.svg#Montserrat_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=zhcz-_WihjSQC0oHJ9TCYKWUboTb-jS2tyCOQMtm97g&skey=7bc19f711c0de8f#Montserrat */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(Montserrat_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff */
        url(Montserrat_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcsBaWKZ57bY3RXgXH6dOjZ0.ttf */
        url(Montserrat_700_normal.svg#Montserrat_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(Source+Sans+Pro_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff */
        url(Source+Sans+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf */
        url(Source+Sans+Pro_400_normal.svg#Source+Sans+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=ODelI1aHBYDBqgeIAH2zlADX0QHsyBtvFGhCuXSMYhM&skey=1e026b1c27170b9b#SourceSansPro */
}
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url(Libre+Baskerville_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Libre+Baskerville_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Libre+Baskerville_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff */
        url(Libre+Baskerville_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6YQQleQLoeHN5F7QeUUads.ttf */
        url(Libre+Baskerville_400_normal.svg#Libre+Baskerville_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=pR0sBQVcY0JZc_ciXjFsK0a0MgkfBR95Z0kZUwmzdX4&skey=1ccff9706b4dcbb3#LibreBaskerville */
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url(Ubuntu+Mono_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Ubuntu+Mono_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Ubuntu+Mono_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff */
        url(Ubuntu+Mono_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkSwlidHJgAgmTjOEEzwu1L8.ttf */
        url(Ubuntu+Mono_400_normal.svg#Ubuntu+Mono_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=ViZhet7Ak-LRXZMXzuAfkXNsigHlcrQGNV8nkUSFQfc&skey=8c1feb82f3a61020#UbuntuMono */
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: url(Ubuntu+Mono_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Ubuntu+Mono_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Ubuntu+Mono_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytjqR_3kx9_hJXbbyU8S6IN0.woff */
        url(Ubuntu+Mono_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytjdGNerWpg2Hn6A-BxWgZ_I.ttf */
        url(Ubuntu+Mono_700_normal.svg#Ubuntu+Mono_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 400;
    src: url(Ubuntu+Mono_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Ubuntu+Mono_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Ubuntu+Mono_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/ubuntumono/v6/KAKuHXAHZOeECOWAHsRKA9kZXW4sYc4BjuAIFc1SXII.woff */
        url(Ubuntu+Mono_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/ubuntumono/v6/KAKuHXAHZOeECOWAHsRKA2cbqnd1g9zt-QKibAzZSRA.ttf */
        url(Ubuntu+Mono_400_italic.svg#Ubuntu+Mono_400_italic) format('svg'); /* {{svg-gf-url}} */
}
